function Cue.new 0
push constant 2
call Memory.alloc 1
pop pointer 0
push constant 1
pop this 0
push constant 0
push constant 100
call Vector.new 2
pop this 1
push pointer 0
return
function Cue.release 1
push argument 0
pop pointer 0
push this 1
push this 0
call Vector.rtimes 2
pop local 0
push constant 1
pop this 0
push this 1
push constant 0
push constant 100
call Vector.set 3
pop temp 0
push local 0
return
function Cue.rotateLeft 0
push argument 0
pop pointer 0
push this 1
push constant 0
call Vector.rotate 2
pop temp 0
push constant 0
return
function Cue.rotateRight 0
push argument 0
pop pointer 0
push this 1
push constant 0
not
call Vector.rotate 2
pop temp 0
push constant 0
return
function Cue.drawBack 0
push argument 0
pop pointer 0
push this 0
push constant 11
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 0
push constant 1
add
pop this 0
label IF_FALSE0
push constant 0
return
function Cue.draw 1
push argument 0
pop pointer 0
push this 1
push this 0
push constant 3
add
call Vector.rtimes 2
pop local 0
push constant 0
not
call Screen.setColor 1
pop temp 0
push argument 1
push argument 2
push argument 1
push local 0
call Vector.getX 1
push constant 40
call Math.divide 2
add
push argument 2
push local 0
call Vector.getY 1
push constant 40
call Math.divide 2
add
call Screen.drawLine 4
pop temp 0
push local 0
call Vector.dispose 1
pop temp 0
push constant 0
return
